*.project
*.cproject
*.settings
.DS_Store
*.o
*.pyc
Bin/netgen
Parsers/VeriFlow-v0.2/VeriFlow/VeriFlow
Parsers/VeriFlow-v0.2/VeriFlow/time.out
Parsers/VeriFlow-v0.2/VeriFlow/class
Parsers/VeriFlow-v0.2/VeriFlow/data
Parsers/data
*.tablereg
