[server]
port=5518
adminPort=5519
#unix_domain_socket=/path/to/socket

# If set, disables task parallelism (as if by LB_SUPPRESS_TASK_PARALLELISM)
# suppress_task_parallelism=1

[compiler]

# Specify the default JVM settings for the compiler.
#
# Unless jvmServerArgs is set, this is used for both separate 
# compilation and the compiler server.  Otherwise, this only applies 
# to separate compilation.
jvmArgs = -Xmx2000m -Xss2048k

# Used if it is necessary to configure the compiler server JVM 
# differently from the separate compilation.
#
# jvmServerArgs = -Xmx2000m -Xss2048k

# Port used to interact with the compiler server for compilation 
# requests.
port = 5520

# Admin port for the compiler server.
adminPort = 5521

# Optional path to an alternative protoc binary.
# Only used by the compiler during separate compilation.
# 
# protoc = /my/location/bin/protoc

[workspace]
folder=$LB_DEPLOYMENT_HOME/workspaces

# Default transaction commit mode. Allowed values are "diskcommit"
# (the commit doesn't return until the transaction has been durably
# written to disk) and "softcommit" (the commit may return before the
# transaction has been written to disk, so in case of a crash the
# database may roll back to a previous version).
commit_mode=softcommit

# Whether transactions are replicated synchronously. If set to
# "synchronous", a disk commit won't return until the transaction has
# been durably replicated to all mirrors. If set to "asynchronous", a
# disk commit may return before the transaction has been replicated.
replication_mode=synchronous

# Revisions of database are automatically tagged for backup. If set
# to "none" only necessary versions are kept. If set to "default"
# server automatically keeps versions.
auto_backup_mode=none

# Maximum number of readers and writers
# max_readers=8
# num_writers=2

# It is possible to override [workspace] options for a specific
# workspace as follows:
#
# [workspace:foo]
# commit_mode=diskcommit

[logging]
file=$LB_DEPLOYMENT_HOME/logs/current/lb-server.log

# If "systemd" option is not set, lb-server will try to infer its
# value based on the presence of the "IN_SYSTEMD" environment
# variable.
# systemd=false

# Allowed logging levels are: error, warning, info, perf,
# perf_detail, debug.
#
# For a typical deployment scenario, use level=info.  To diagnose
# performance issues, use level=perf or level=perf_detail.  (The
# latter includes more information such as optimizer traces.) For
# debugging logiql rules, use level=debug.
#
# More fine-grained control can also be achieved by specifying
# log-scope specific settings.  For instance, to use info-level
# logging by default, but debug-level logging under rule evaluation,
# one can specify
#
# level=info:debug@EvaluateRules
#
# The log level can also be specified on a per-transaction basis,
# with the log returned for a transaction at the specified level;
# see ConnectBlox.proto for the relevant connection protocol fields.
#
level=info

# The system will log (at warning level) all rules which take
# exceptionally long to execute. By default, the threshold is 10000 ms
# seconds, but this setting adjusts it (as does the environment
# variable LB_MONITOR_RULE_TIME).
# monitor_rule_time=10000

[bloxoptimize]

#uncomment socketdir definition to put temporary files (including any .lp) files
#produced by bloxoptimize to that directory. If undefined $TMPDIR will be used

#socketdir=$LB_DEPLOYMENT_HOME/bloxopt/
