# ---
# General configuration
# ---
server_host = 54.237.41.30
server_port = 5555


# ----
# Configuration for fmachine
# ----
!fmachine
  train.regularization_parameter = 1:10,2:0
  train.fm_order=2 # order
  train.fm_rank=5
  @train:rank.2d=5
  train.lbfgs:num_basis=5
  train.sgd:eta0=1e-4
  train.objective=linear_adjmape
  train.optimization_method=sgd
  train.iterations=10
  train.coefficient_num_out=3
  train.coefficient_num_in=3
  train.coefficient_prefix_out=+coeffs
  train.references_in =+ refs_in
  train.eliminate_zero_columns=0
  @pushref:flag.sparse=1

  eval.queries_in =+queries
  eval.references_in =+ queries
  eval.predictions_out =+ pred
  eval.coefficient_prefix_in=+coeffsIn
  eval.eliminate_zero_columns=0
  eval.task=eval
  eval.coefficient_num_in=3

  @pushref.head_prefix=header,meta:3,sparse:double:
  @pushref.table_type=sparse_double
  @pushref:flag.sparse=1
  @pushref.row_prefix=0
  @pushref.post_val=0
  @pushref.table_name_arg = references_in

  @pushparam.table_name_arg = coefficient_prefix_in
  @pushparam:rank.2d=5
  @pushparam.table_type = default
  @pushparam.head_prefix=header,meta:3,double:
  @pushparam.row_prefix=0,0,0


  @pullparam.table_name_arg = coefficient_prefix_out
  @pullparam.table_type = default

  @pushquery.table_name_arg = references_in
  @pushquery.row_prefix=0,0,0
  @pushquery.head_prefix=header,meta:3,sparse:double:
  @pushquery.table_type=sparse_double
  @pushquery:flag.sparse=1

  @pulleval.table_name_arg = predictions_out
  @pulleval.table_type = default

# ----
# Configuration for regression
# ----
!regression
  train.algorithm=naive
  train.prediction_index_prefix=1
  eval.run_mode=eval
  eval.exclude_bias_term=1
  @pushref.head_prefix=header,meta:3,double:
  train.coeffs_in=coeffs
  train.coeffs_out=coeffs
  @pushref.row_prefix=0,0,0
  @pushref.post_val=

# ----
# Configuration for direct fm
# ----
!fmdirect

# ----
# Configuration for direct lcoal fm
# ----
!lfmdirect
!paperboat
